<?xml version='1.0'?><!DOCTYPE preferences SYSTEM '../dtd/preferences.dtd'><preferences><preference><key>name</key><value>matthew.crist</value></preference><preference><key>domain</key><value>localhost</value></preference><preference><key>password</key><value>simulation</value></preference><preference><key>server_location</key><value>localhost</value></preference></preferences>